<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsu.mapper.ExportDataMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        insert into export_data(name, href, parent) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.href},#{item.parent})
        </foreach>
    </insert>
</mapper>